@using Reuse_it.Enumerations
@using Reuse_it.Models.viewModels

@{
    ViewData["Title"] = "Sell";
}
@model ProductViewModel

@using (Html.BeginForm("SellCheck", "SellRent", FormMethod.Post, new { enctype = "multipart/form-data" })){
    <div class="form-group">
    <p>
        name
    </p>
    @Html.EditorFor(m => m.nome)

    <p>
        usury
    </p>

    <label asp-for="usura" class="control-label"></label>
    <select asp-for="usura" asp-items="Html.GetEnumSelectList<Usury>()" class="form-control"></select>
    <span asp-validation-for="usura" class="text-danger"></span>

     @Html.EditorFor(m => m.size)
    
     
     <p>
        descrizione
    </p>
    @Html.EditorFor(m => m.descrizione)

    @Html.EditorFor(m => m.foto)
    <p>
        prezzo di vendita
    </p>
    @Html.EditorFor(m => m.priceBuy)
    <input id="Submit" type="submit" value="submit" />


</div>
}
